* {
    background-color: #99ccff;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
      background-color: #99ccff;
      color: #595959;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 32px;
  }
  
  h1 {
    margin-right: 600px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
  }
  
  h2 {
    margin-right: 600px;
    font-style: italic;
    text-decoration: underline;
  }
  
  nav {
    list-style-type: none;
    justify-content: center;
    padding-bottom: 50px;
  }
  
  /*Styling for the nav bar*/
  .nav-item {
    display: block;
    background-color: #e6f7ff;
    border: 2px solid #666666;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200%;
    text-decoration: none;
    position: sticky;
  }
  
  /*Pseudo effects for each nav item*/
  .nav-item:hover {
    background-color: #ffffff;
    color: #595959;
  }
  
  .nav-item::after {
    color:#595959;
  }
  
  #headshot img {
    border-radius: 50%;
    position: relative;
  }
  
  #about-body, #contact-body, #projects-body {
    padding-top: 30px;
    font-size: 38px;
  }
  
  /*Creating flexbox to allow for responsiveness between different screen sizes*/
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    justify-content: center;
  }
  
  .flex-container p {
    margin-bottom: 5px;
    color: #e6f7ff;
  }
  
  /*Creating border styling when each image is hovered over*/
  .border img {
    transition: .5s ease;
    }
    
  .border img:hover{
    box-shadow: 0 0 0 10px #000000;
    transition: .5s ease;
  }
  
  #calculator-image, #counter-image, #tic-tac-toe-image, #snake-image{
    font-size: 28px;
  }
  
  #calculator-image, #counter-image, #tic-tac-toe-image, #snake-image{
    padding-bottom: 20px;
  }
  
  #contact-body {
    margin-left: 200px;
    padding-top: 1em;
  }
  
  #calculator-image {
    margin: auto;
  }
  
  #counter-image, #tic-tac-toe-image, #snake-image {
    margin: 10px;
  }
  
  /*Creating another flexbox specifically for the footer section*/
  .flex-container-footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  /*Creating media queries for responsive web design*/
  @media screen and (max-width: 780px) {
    h1, h2 {
      text-align: center;
      margin: auto;
    }
  }
  
  @media screen and (max-width: 780px) {
    #contact-body {
      text-align: center;
      margin: auto;
    }
  }
  
  @media screen and (max-width: 780px) {
    #calculator-image, #counter-image, #tic-tac-toe-image, #snake-image {
      margin: auto;
    }  
  }
  
  @media screen and (max-width: 780px) {
    #calculator-image {
    width: 100%;
    }
  }